*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* utily */

.btn{
    background-color: rgba(0,97,255,255);
    padding: 7px 13px;
    color: white;
}

.font-size{
    font-size: 12px;
}

button{
    all:unset;
    cursor: pointer;
}


/* utily margin section */

.grey{
    color:lightgray;
}

.margin-bottom-8{
    margin-bottom: 8px ;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-bottom-35{
    margin-bottom: 35px;
}

.margin-bottom-15{
    margin-bottom: 15px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

#margin-bottom-100{
    margin-bottom: 100px;
}

#margin-bottom-120{
    margin-bottom: 120px;
}

#margin-bottom-150{
    margin-bottom: 150px;
}

.btn-special{
    background-color: rgba(0,97,255,255);
    color: white;
    text-align: center;
    font-size: 12px;
    padding:10px 0 ;
}

/* header */

.row-header{
    width: 100%;
    height: 58px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.col-header-left, .col-header-right{
    width: 26%;
}

.topbar-left ul, .topbar-right ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

li img{
    width: 100px;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

/* main first section*/

.container-main-jumbo{
    padding-top: 100px;
    background-color: rgba(180,208,231,255);
    margin-bottom: 120px;
}

.row-main-jumbo{
    width: 65%;
    margin: 0 auto;
}

.col-main-title-jumbo{
    margin-bottom: 40px;
}

.col-title-jumbo{
    width: 95%;
}

h1{
    color: black;
    font-size: 65px;
    font-weight: 10000;
}
.col-main-pagraph-image{
    position: relative;
    width: 100%;
    display: flex;
}

.col-pagraph-jumbo{
    width: 28%;
    font-size: 13px;
}

.padding-btn, .pagraph{
    padding-bottom: 24px;
}

.col-pagraph-jumbo i{
    padding-bottom: 17px;
}

.padding-bottom{
    margin-bottom: 60px;
}

.col-image-jumbo{
    width: 72%;
    position: absolute;
    right: 0;
}

.col-image-jumbo img{
    width: 85%;
}




/* main second section */

.row-main{
    width: 55%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.col-main{
    margin-bottom: 35px;
}

h2{
    font-size: 32px;
    margin-bottom: 40px;
}

.billing{
    vertical-align: middle;
}

label{
    padding-right: 40px;
}

.col-main-table{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-30{
    width: 30%;
    border: 1px solid rgba(231,231,232,255);
}

.col-sm-title{
    border-bottom: 1px solid rgba(231,231,232,255);
    text-align: center;
    padding: 7px 10px;
}

.col-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h3{
    padding-top: 20px;
}

.mini-container{
    width: 100%;
    display: flex;
}

.icons{
    width: 8%;
}

.text{
    width: 90%;
}

.underline{
    display: flex;
}

.sm-underline{
    padding-right: 3px;
    padding-bottom: 30px ;
    border-bottom: 1px solid lightgrey;
}

.underline a{
    color: blue;
}

.list ul{
    list-style-type: none;
}

li i{
    padding-right: 3px;
}

/* main third section */

.col-main-2{
    border: 1px solid rgba(231,231,232,255);
}

.col-sm-title-2{
    text-align: center;
    padding: 7px 10px;
}

.col-content-2{
    border: 1px solid rgba(231,231,232,255);
    border-top: transparent;
    display: flex;
    justify-content: space-around;
}

.content-left{
    width: 60%;
}

.content-right{
    width: 30%;
}

.content-right .btn-special-2{
    width: 80%;
    background-color: rgba(0,97,255,255);
    color: white;
    text-align: center;
    font-size: 12px;
    padding:10px 0 ;
    margin-top: 25px ;
    margin-left: 50px;
}

/* start the fourth section */

.col-content-3{
    display: flex;
}

.content-image img{
    height: 400px;
}

.text-right{
    width: calc(100% - 600px);
    margin-left: 37px;
    margin-top: 30px;
}

.text-right p {
    line-height: 17px;
}

.btn-special-grey{
    text-align: center;
    width: 51%;
    border: 2px solid lightgray;
    color: lightgray;
    font-size: 13px;
    padding:7px;
}

/* utily fort the fith section */

.margin-right{
    margin-right: 40px;
}

.font-size-special{
    font-size: 13px;
    line-height: 16px;
}


/* start the fith section */

.col-main-flex{
    width: 100%;
    display: flex;
}

.step{
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
}

.step img{
    height: 200px;
}

/* start the sixth section */

.col-big-title{
    width: 60%;
}


