*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* utily */

.btn{
    background-color: #0061ff;
    padding: 7px 13px;
    color: white;
}

.font-size{
    font-size: 12px;
}

button{
    all:unset;
    cursor: pointer;
}

/* bonus */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    padding: 12px 16px;
    cursor: pointer;
    transition: 0.4s;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #ccc;
}

.hover a:hover{
   opacity: 0.8;
}

.hover button:hover{
    opacity: 0.8;
}

.accordion {
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
}

.accordion:hover {
    background-color: #ccc;
}


/* utily margin section */

.grey{
    color:lightgray;
}

.margin-bottom-8{
    margin-bottom: 8px ;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-bottom-35{
    margin-bottom: 35px;
}

.margin-bottom-15{
    margin-bottom: 15px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-bottom-120{
    margin-bottom: 120px;
}

#margin-bottom-100{
    margin-bottom: 100px;
}

#margin-bottom-150{
    margin-bottom: 150px;
}

.btn-special{
    background-color: #0061ff;
    color: white;
    text-align: center;
    font-size: 12px;
    padding:10px 0 ;
}

/* header */

.row-header{
    width: 100%;
    height: 58px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.col-header-left, .col-header-right{
    width: 26%;
}

.topbar-left ul, .topbar-right ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

li img{
    width: 100px;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

/* main first section*/

.container-main-jumbo{
    padding-top: 100px;
    background-color: #b4d0e7;
    margin-bottom: 120px;
}

.row-main-jumbo{
    width: 65%;
    margin: 0 auto;
}

.col-main-title-jumbo{
    margin-bottom: 40px;
}

.col-title-jumbo{
    width: 95%;
}

h1{
    color: black;
    font-size: 65px;
}
.col-main-pagraph-image{
    position: relative;
    width: 100%;
    display: flex;
}

.col-pagraph-jumbo{
    width: 28%;
    font-size: 13px;
}

.padding-btn, .pagraph{
    padding-bottom: 24px;
}

.col-pagraph-jumbo i{
    padding-bottom: 17px;
}

.padding-bottom{
    margin-bottom: 60px;
}

.col-image-jumbo{
    width: 72%;
    position: absolute;
    right: 0;
}

.col-image-jumbo img{
    width: 85%;
}

/* main second section */

.row-main{
    width: 55%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.col-main{
    margin-bottom: 35px;
}

h2{
    font-size: 32px;
    margin-bottom: 40px;
}

.billing{
    vertical-align: middle;
}

label{
    padding-right: 40px;
}

.col-main-table{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-30{
    width: 30%;
    border: 1px solid #dcdcde;
}

.col-sm-title{
    border-bottom: 1px solid #dcdcde;
    text-align: center;
    padding: 7px 10px;
}

.col-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.col-content h3{
    padding-top: 20px;
}

.mini-container{
    width: 100%;
    display: flex;
}

.icons{
    width: 8%;
}

.text{
    width: 90%;
}

.underline{
    display: flex;
}

.sm-underline{
    padding-right: 3px;
    padding-bottom: 30px ;
    border-bottom: 1px solid lightgrey;
}

.underline a{
    color: blue;
}

.list ul{
    list-style-type: none;
}

li i{
    padding-right: 3px;
}

/* main third section */

.col-main-2{
    border: 1px solid #dcdcde;
}

.col-sm-title-2{
    text-align: center;
    padding: 7px 10px;
}

.col-content-2{
    border: 1px solid #dcdcde;
    border-top: transparent;
    display: flex;
    justify-content: space-around;
}

.content-left{
    width: 60%;
}

.content-right{
    width: 30%;
}

.content-right .btn-special-2{
    width: 80%;
    background-color: #0061ff;
    color: white;
    text-align: center;
    font-size: 12px;
    padding:10px 0 ;
    margin-top: 25px ;
    margin-left: 50px;
}

/* start the fourth section */

.col-content-3{
    display: flex;
}

.content-image img{
    height: 400px;
}

.text-right{
    width: calc(100% - 600px);
    margin-left: 37px;
    margin-top: 30px;
}

.text-right p {
    line-height: 17px;
}

.btn-special-grey{
    text-align: center;
    width: 51%;
    border: 2px solid lightgray;
    color: lightgray;
    font-size: 13px;
    padding:7px;
}

/* utily fort the fith section */

.margin-right{
    margin-right: 40px;
}

.font-size-special{
    font-size: 13px;
    line-height: 16px;
}

/* start the fith section */

.col-main-flex{
    width: 100%;
    display: flex;
}

.step{
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
}

.step img, .column img{
    width: 200px;
}

/* start the sixth section */

.col-big-title{
    width: 60%;
}

/* start the seven section */

.row-logo{
    width: 100%;
    display: flex;
}

.col-square-logo-left, .col-square-logo-mid, .col-square-logo-right {
    width: calc(100% / 3);
    height: 60vh;
}

.col-square-logo-mid{
    background-color: #f5f5f5;
}

.big-square{
    width: 85%;
    margin: 35px auto;
}

.big-square img{
    height: 65px;
}

.big-square hr{
    width: 20%;
    border: none;
    height: 1px;
    background-color: #b3b2b2;
}

.big-square span{
    font-size: 14px;
}

.rectangle-top{
    width: 100%;
    height: 50%;
    display: flex;
}

.rectangle-bottom{
    width: 100%;
    height: 50%;
    display: flex;
}

.square{
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-square img{
    height: 30px;
    filter: invert(1);
}

.size-square-1 img{
    height: 100px;
    width: 100px;
    filter: invert(1);
}

.green{
    border: 15px solid #d1e9cd;
    background-color: #a2d39b;
}

.brown{
    background-color: #61082b;
}

.blue{
    background-color: #0093ce;
}

.orange{
    background-color: #ff1c1c;
}

.lightorange{
    background-color: #d5001f;
}

.lightblue{
    background-color: #b4d0e7;
}

.blackblue{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}

/* start octave section */

.container{
    background-color: #b4d0e7;
    padding: 100px 0 70px 0;
}

.col-text{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#margin-0{
    margin: 0;
}

.left-text{
    width: 50%;
    color: #61082b
}

.right-button{
    width: 30%;
}

.right-special-button{
    background-color: white;
    padding: 10px 40px;
}

/* start ninth section */

.answer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer .font-size-special{
    padding: 30px 0;     
}

.answer i{
    font-size: 10px;
    padding: 0 30px;
}

.col-title-answer hr{
    border: none;
    height: 0.5px;
    background-color: #b3b2b2;
}

/* start footer */

footer{
    background-color: black;
    color: white;
}

.row-footer{
    width: 65%;
    margin: 0 auto;
}

.row-footer hr{
    width: 10%;
    border: none;
    height: 0.5px;
    background-color: #b3b2b2;
}

.col-footer{
    display: flex;
    justify-content: space-between;
}

.unlist{
    width: calc(65% / 5);
    margin: 70px 0;
}

.unlist h3{
    margin-bottom: 25px;
}

.unlist ul{
    list-style-type: none;
    line-height: 27px;
}

.col-sm-logo{
    color: #b3b2b2;
    padding-bottom: 40px;
}